<?xml version="1.0" encoding="utf-8"?>

<!-- 如需使用 web.config 轉換的詳細資訊，請前往 https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    在下面的範例中，"SetAttributes" 轉換只會在 "Match" 定位程式找到
    值為 "MyDB" 的屬性 "name" 時，才將 "connectionString" 的值變
    更為使用 "ReleaseSQLServer"。
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="DefaultConnection"
       connectionString="Data Source=172.20.142.57;Initial Catalog=AIRMAM5_NEWS;User ID=AirMAM;Password=ftvP@ssw0rd" providerName="System.Data.SqlClient"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="AIRMAM5DBEntities"
       connectionString="metadata=res://*/DBEntity.AIRMAM5db.csdl|res://*/DBEntity.AIRMAM5db.ssdl|res://*/DBEntity.AIRMAM5db.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.20.142.57;Initial Catalog=AIRMAM5_NEWS;persist security info=True;User ID=AirMAM;Password=ftvP@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <add key="SerilogPath" value="D:\WebSite\AirMAM5\Log\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="fsENC_KEY" value="7F3DD6981A72707B12A8C0CC80A3C96B75B9057AD55F1AE1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="fsSQL_CONN" value="Data Source=172.20.142.57;Initial Catalog=AIRMAM5_NEWS;Persist Security Info=True;User ID=AirMAM;Password=ftvP@ssw0rd"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="fsSEARCH_API" value="http://mamtest.ftv.com.tw/AirMAM5.Search/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="fsTSM_API" value="http://mamtest.ftv.com.tw/AirMAM5.Tsm/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="fsUpload_API" value="http://mamtest.ftv.com.tw/AirMAM5.FileUpload/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReportServer" value="http://172.20.142.36/ReportServer_MSSQL2016?%2fAIRMAM5.RPT%2f" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="brandLogo" value="http://mamtest.ftv.com.tw/Images/logo_Horizontal.svg" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DocViewerPath" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Title" value="FTV 新聞片庫管理系統" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      
      在下面的範例中，"Replace" 轉換將會取代 web.config 檔案
      的整個 <customErrors> 區段。
      請注意，因為在 <system.web> 節點之下 
      只有一個 customErrors 區段，所以不需要使用 "xdt:Locator" 屬性。
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>