<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請瀏覽
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-AIRMAM5-20190807051752.mdf;Initial Catalog=aspnet-AIRMAM5-20190807051752;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=LocalDB;User ID=sa;Password=sa@123456" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=LocalDB;User ID=sa;Password=sa@123456" providerName="System.Data.SqlClient"/>-->
    <!--<add name="AIRMAM5DBEntities" connectionString="metadata=res://*/DBEntity.AIRMAM5db.csdl|res://*/DBEntity.AIRMAM5db.ssdl|res://*/DBEntity.AIRMAM5db.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.20.142.36\MSSQL2016;Initial Catalog=AIRMAM5;Persist Security Info=True;User ID=AirMAM;Password=ftvP@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
      <!--【開發測試環境資料庫】 
          Data Source=172.20.142.36\MSSQL2016;Initial Catalog=AIRMAM5;User ID=AirMAM;Password=***********-->
    <add name="DefaultConnection" connectionString="Data Source=172.20.142.36\MSSQL2016;Initial Catalog=AIRMAM5;User ID=AirMAM;Password=ftvP@ssw0rd" providerName="System.Data.SqlClient" />
    <add name="AIRMAM5DBEntities" connectionString="metadata=res://*/DBEntity.AIRMAM5db.csdl|res://*/DBEntity.AIRMAM5db.ssdl|res://*/DBEntity.AIRMAM5db.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.20.142.36\MSSQL2016;Initial Catalog=AIRMAM5;persist security info=True;User ID=AirMAM;Password=ftvP@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--新聞片庫
    <add name="DefaultConnection" connectionString="Data Source=172.20.142.57;Initial Catalog=AIRMAM5_NEWS;persist security info=True;User ID=AirMAM;Password=ftvP@ssw0rd" providerName="System.Data.SqlClient" />
    <add name="AIRMAM5DBEntities" connectionString="metadata=res://*/DBEntity.AIRMAM5db.csdl|res://*/DBEntity.AIRMAM5db.ssdl|res://*/DBEntity.AIRMAM5db.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.20.142.57;Initial Catalog=AIRMAM5_NEWS;persist security info=True;User ID=AirMAM;Password=ftvP@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 -->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- 專案自訂參數 -->
    <add key="SerilogPath" value="D:\AIRMAM5LOG\" />
    <!--專案無使用 <add key="fsLOG_PATH" value="D:\AIRMAM5\LOG\" />-->
    <!--專案無使用 <add key="fsTEMP_PATH" value="D:\AIRMAM5\TEMP\" />-->
    <!--專案無使用 <add key="fsMEDIA_INFO" value="D:\0selfsys\MediaInfo_769\MediaInfo.exe" />-->
    <add key="fsENC_KEY" value="7F3DD6981A72707B12A8C0CC80A3C96B75B9057AD55F1AE1" />
    <!--專案無使用 <add key="fsSQL_CONN" value="Data Source=172.20.142.36\MSSQL2016;Initial Catalog=AIRMAM5;Persist Security Info=True;User ID=AirMAM;Password=ftvP@ssw0rd" />-->
    <!--專案無使用 <add key="fsFILE_ENC_KEY" value="12345678" />-->
    <!--專案無使用 <add key="fsFILE_ENC_IV" value="87654321" />-->
    <add key="fsSEARCH_API" value="http://172.20.142.35/AIRMAM5.Search.Lucene/" />
    <add key="fsTSM_API" value="http://172.20.142.35/AIRMAM5.Tsm/" />
    <add key="fsUpload_API" value="http://localhost/AIRMAM5.FileUpload/" />
    <!--20200910_移除AIRMAM5.KeyFrame 專案,整合到AIRMAM5
    <add key="fsKeyframe" value="D:\Project\Git\AIRMAM5\AIRMAM5WEB\AIRMAM5.KeyFrame\bin\Debug\AIRMAM5.KeyFrame.exe" />-->
    <!--檔案上傳時,前端等候時間(秒)--><add key="UploadTimeout" value="15" />
    <!--專案是否有TSM --><add key="IsUseTSM" value="true" />
    <!--非雲端功能開啟,true會開放雲端無法使用的功能,false只會顯示雲端能使用的功能--><add key="IsNonCloud" value="true" />
    <!--是否支援段落調用--><add key="IsSupportPartial" value="true" />
    <!--<add key="ShowDebugLog" value="false" />
        <add key="ShowInfoLog" value="true" />
    -->
    <!--終止PostAsync Task 時間(秒) --><add key="CancelPostAsync" value="10" />
    <!--系統報表Report Server URL --><add key="ReportServer" value="http://172.20.142.36/ReportServer_MSSQL2016?%2fAIRMAM5.RPT%2f" />
    <!--頁面文檔title--><add key="Title" value="AIRMAM媒體資產管理系統"/>
    <!--登入頁面版本顯示文字--><add key="version" value="V1.6.1" />
    <!--登入頁面產品描述(可以用HTML,但特殊字元需轉譯)--><add key="versionDescription" value="台員多媒體版權所有" />
    <!--客戶端Logo圖片--><add key="brandLogo" value="http://localhost/AIRMAM5/Images/logo_Horizontal.svg" />
    <!--Hub: 儲存在Dictionary 的最長時間(時數)--><add key="HubKeepTimes" value="48" />
    <!--Hub未回報逾期時間(分鐘) --><add key="HubConnectionOverdueTime" value="5" />
    <!--預設密碼 --><add key="DefaultPaswd" value="1qaz2wsx" />
    <!-- DocViewer BasePath--><add key="DocViewerPath" value="AIRMAM5" />
    <!-- Identity AccessFailededCount最多次數 --><add key="AccessFailMax" value="5" />
    <!-- Identity 驗證失敗鎖定時間(分鐘) --><add key="LockoutTimeSpan" value="5" />
    <!-- Identity 是否啟用鎖定 LockedEnable--><add key="LockedEnable" value="true" />
  </appSettings>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="媒體資產管理系統 &lt;eip@ftv.com.tw>">
        <network host="meow.ftv.com.tw" userName="媒體資產管理系統" password="!QAZ2wsx" port="25" enableSsl="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <authentication mode="None" />
    <identity impersonate="true" userName="AirMAM" password="ftvP@ssw0rd" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="2100000000" executionTimeout="3600" />
    <machineKey decryptionKey="005C0B5FF04E07C90ECE1E2CFA6EAEE087D5D221DAAAF7EC" validationKey="1925677CEFB46A40CB334980F7A25CBBFD6A772718898A99BA08DEC2831EA085E14E8A86D2A7682E8896A0F7AD75FF67F4C43CDD298E34142A11D2E4DA5273B2" validation="HMACSHA512" />
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>-->
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  <handlers>
    <!-- 重要!! 使用DocumentViwer必加入此設定 -->
    <add name="DocImage" verb="GET,POST" path="DocImage.axd" type="DotnetDaddy.DocumentViewer.DocImageHandler, DocumentViewer" />
    <!-- END FOR DOCONUT VIEWER -->
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--<applicationSettings>
    <AIRMAM5.Properties.Settings>
      <setting name="fsLOG_PATH" serializeAs="String">
        <value>D:\AIRMAM5\LOG\</value>
      </setting>
      <setting name="fsTEMP_PATH" serializeAs="String">
        <value>D:\TEMP\</value>
      </setting>
      <setting name="fsMEDIA_INFO" serializeAs="String">
        <value>D:\0selfsys\MediaInfo_769\MediaInfo.exe</value>
      </setting>
      <setting name="fsENC_KEY" serializeAs="String">
        <value>7F3DD6981A72707B12A8C0CC80A3C96B75B9057AD55F1AE1</value>
      </setting>
      <setting name="fsSQL_CONN" serializeAs="String">
        <value>Data Source=172.20.142.36\MSSQL2016;Initial Catalog=AIRMAM5;Persist Security Info=True;User ID=AirMAM;Password=ftvP@ssw0rd</value>
      </setting>
      <setting name="fsFILE_ENC_KEY" serializeAs="String">
        <value>12345678</value>
      </setting>
      <setting name="fsFILE_ENC_IV" serializeAs="String">
        <value>87654321</value>
      </setting>
      <setting name="fsSEARCH_API" serializeAs="String">
        <value>http://172.20.142.35/AIRMAM5.Search.Lucene/</value>
      </setting>
      <setting name="fsTSM_API" serializeAs="String">
        <value>http://172.20.142.35/AIRMAM5.Tsm/</value>
      </setting>
      <setting name="fsKeyframe" serializeAs="String">
        <value>D:\Project\AIRMAM5\AIRMAM5.KeyFrame\bin\Release\AIRMAM5.KeyFrame.exe</value>
      </setting>
    </AIRMAM5.Properties.Settings>
  </applicationSettings>-->
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>