

// 1.color
//===================================================
$darkblack:#1e1d1d;
$black: #2d2d2d;
$yellow: #ffd800;
$white:#ffffff;
$grey:#bfb9b9;
$darkgrey: #8d8a8a;
$purpleblack: #1f1c24;
$red: #DB2828;
$green: #21BA45;
$purple: #6435C9;
$teal: #018e87;
$primary: #03A9F4;
$greyPrimary:#333;
// 2. menu
//===================================================
$sidemenuWidth: 275px;