$turquoise: hsl(171, 100%, 41%);
$tq-shadow: #40e0d0;
$grey: #aaa;
$black: #303436;
$lightyellow: #fadeb2;
$yellow: #c2b701;
$white: #fff;
$red: #ff7f98;
$display: flex,none,block,inline-block;
$flex-direction-column: column;
$align-items-center: center;
$winth:100%;
$flex:1,2,3,4;
//=======================封裝====================================
@mixin login_vertical {
    display: nth($display,1);
    flex-direction: $flex-direction-column;
}

@mixin login_row {
    display: nth($display,1);
    align-items: $align-items-center;
    flex: nth($flex,1);
    width: $winth;
}