.dropdown.x-hashtag {
    background-image: none !important;

    i.dropdown.icon{
        display:none;
    }
    a.ui.label {
        color: #fff;
        background: rgb(33, 133, 208) !important;
    }
}
