@model IEnumerable<AIRMAM5.DBEntity.Models.ArcPre.ArcPreAttributeModel>

<div class="ui bottom attached tab" data-tab="detailMeta">
    @if (Model == null || !Model.Any())
    {
        <div class="ui basic padded segment center aligned" style="min-height:100%;width:100%;">
            <div class="ui icon inverted yellow large header" style="margin:20px;">
                <i class="database icon"></i>
                <div class="content">
                    沒有資料可以顯示
                    <div class="sub header">Nothing to show</div>
                </div>
            </div>
        </div>
    }
    else
    {
        <form class="ui form basic segment" style="width: 100%; padding: 1px;">
            @foreach (var itm in Model)
            {
                <div class="field _styleMarginZero">
                    <div class="ui labeled input">
                        @*@Html.HiddenFor(m => itm.Field)*@
                        <label class="ui black label three wide field">@itm.FieldName</label>
                        <span> @itm.FieldValue </span>
                    </div>
                </div>
            }
        </form>
    }

</div>
