@import "../Shared/style.scss";
@import "../../_inputRange.scss";
@import "../Shared/Function/_directoryTab.scss";
@import "../Shared/Function/_keyframe.scss";
@import "../Shared/Function/_paragraph.scss";
@import "../../_previewPlayer.scss";
@import "../Shared/Function/_DetailModalPlayer.scss";
@include _directoryTab;
@include _DetailModalPlayer($VideoWidth);
div[name="preview"] #videoMenu {
    bottom: -60px;
    position:unset;
}
._directoryTab {
    max-height: 55vh;
    overflow: auto;
}

div[data-tab="keyframe"] {
    @include _keyframe;
}

div[data-tab="paraDescription"] {
    padding: 0;
    border: 0 !important;
    background-color: transparent !important;
    background: none !important;
    @include _paragraph;
}

.x-tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow:unset !important;
}
