@{
    Layout = "";
}

<!--編輯燈箱-->
<div id="EditArea"></div>
<!--查看燈箱-->
<div id="DetailArea"></div>
<!--刪除燈箱-->
<div id="DeleteArea"></div>
<!--功能燈箱-->
<div id="OtherArea"></div>
<!--新增燈箱-->
<div id="CreateArea"></div>