@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "已鎖定";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<h1>423</h1>
<p>已鎖定</p>
<p class="quotething"> “此帳戶已遭鎖定，請稍後再試一次.”</p><br>
<div align="center">
    <a class="button404" href="@Url.Action("Index","Home")">回首頁</a>
</div>