@charset "UTF-8";
/*hexcolor轉為rgba函數*/
div.nopadding {
  padding: 0 !important; }

div.nopaddingLR {
  padding-left: 0 !important;
  padding-right: 0 !important; }

div.nopaddingTB {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

/*樹狀容器*/
.treeContainer {
  height: 90%;
  overflow: auto;
  /*Loading中顯示*/ }
  .treeContainer.x-dir-height {
    height: calc(100% - 90px); }
  .treeContainer .treeBg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(51, 51, 51, 0.2), rgba(51, 51, 51, 0.3), rgba(51, 51, 51, 0.2)), url(../../../Images/dirTree.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: .15;
    z-index: 1; }

/**樹狀重新整理按鈕*/
#ReloadTreeBtn {
  padding: 0 8px;
  font-size: 0.8em;
  border: .5px solid #ccc;
  box-shadow: inset 0px 0px 2px #fff !important;
  z-index: 2; }

/**搜尋目錄節點input*/
input[name="SearchNode"] {
  line-height: 30px !important;
  /*min-width: 100%;*/ }

.x-treeinput {
  padding-bottom: 10px; }

/**結構調整*/
.grid.x-main-grid {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden; }
  .grid.x-main-grid .column {
    height: 100%; }

@media screen and (max-width: 760px) {
  .grid.x-main-grid {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto; }
    .grid.x-main-grid .column {
      height: 100%; } }

@font-face {
  font-family: 'Icons';
  src: url("../../semanticUI/css/themes/default/assets/fonts/icons.eot");
  src: url("../../semanticUI/css/themes/default/assets/fonts/icons.eot?#iefix") format("embedded-opentype"), url("../../semanticUI/css/themes/default/assets/fonts/icons.woff2") format("woff2"), url("../../semanticUI/css/themes/default/assets/fonts/icons.woff") format("woff"), url("../../semanticUI/css/themes/default/assets/fonts/icons.ttf") format("truetype"), url("../../semanticUI/css/themes/default/assets/fonts/icons.svg#icons") format("svg");
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none; }

/*顯示檔案容器*/
#ShowResult {
  position: relative;
  top: 10px;
  right: 0;
  display: none;
  height: 95vh; }
  #ShowResult > .ui.grid {
    height: 100%;
    width: 100%; }

/*主題列表*/
.x-subjectlist {
  height: 100%;
  overflow-y: auto;
  background-color: #333;
  /*padding-top: 30px;*/ }
  .x-subjectlist .items {
    height: 100%; }
    .x-subjectlist .items .item {
      padding: 8px 20px;
      background: #505050;
      cursor: pointer; }
      .x-subjectlist .items .item:hover {
        background: #5d5d5d; }
      .x-subjectlist .items .item .content {
        color: #ffffff;
        font-size: 1.2rem;
        word-break: break-all; }
      .x-subjectlist .items .item.selected {
        background: #03A9F4;
        /* The Fallback */
        background: rgba(3, 169, 244, 0.6);
        border: 2px solid rgba(3, 169, 244, 0.8); }
        .x-subjectlist .items .item.selected:before {
          display: inline-block;
          opacity: 1;
          width: 1.18em;
          height: 1em;
          font-family: 'Icons';
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          text-align: center;
          speak: none;
          font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          content: '\f058';
          display: block;
          width: 20px;
          height: 20px;
          background-color: #03A9F4;
          color: #ffffff;
          position: relative;
          right: 20px;
          top: 0px !important; }
  .x-subjectlist#TargetSubjectList .items .item.x-dragEnter {
    border: 2px solid #ffffff !important; }

/*檔案區域*/
#FileArea {
  background-color: #333;
  height: 100%;
  overflow-y: auto; }
  #FileArea .x-fileheader {
    color: #ffffff;
    padding: 10px 0;
    position: relative;
    top: 10px;
    background: #333;
    width: 80px;
    z-index: 2; }
    #FileArea .x-fileheader i {
      cursor: pointer; }
  #FileArea .divider {
    position: relative;
    top: -25px; }
  #FileArea .x-area {
    /*取消瀏覽器Hightlight選擇樣式*/
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none; }
    #FileArea .x-area .x-filelist {
      /*margin-left: 40px;*/
      width: 100%; }
    #FileArea .x-area .cards.draggable:hover {
      /*border: 1px dashed $white;*/
      cursor: grab; }
    #FileArea .x-area .cards .card {
      /*width: 190px !important;
                width: 190px;*/
      box-shadow: none;
      background-color: transparent; }
      #FileArea .x-area .cards .card .image {
        height: 90px !important;
        background: transparent; }
        #FileArea .x-area .cards .card .image img {
          width: auto !important;
          height: 100% !important;
          margin: auto; }
      #FileArea .x-area .cards .card .content .header {
        color: #ffffff !important;
        /*max-width: 190px;*/
        text-overflow: ellipsis;
        word-break: break-all; }
      #FileArea .x-area .cards .card.ui-selecting {
        border: 2px solid #03A9F4;
        /*.image {
                        border: 2px solid $primary;
                    }*/ }
      #FileArea .x-area .cards .card.x-selected, #FileArea .x-area .cards .card.ui-selected {
        font-family: 'Icons'; }
        #FileArea .x-area .cards .card.x-selected .image:before, #FileArea .x-area .cards .card.ui-selected .image:before {
          content: '';
          display: block;
          /*width: 190px;*/
          width: 100%;
          height: 90px;
          border: 2px solid #03A9F4;
          position: absolute;
          top: 0; }
        #FileArea .x-area .cards .card.x-selected .image:after, #FileArea .x-area .cards .card.ui-selected .image:after {
          display: inline-block;
          opacity: 1;
          width: 1.18em;
          height: 1em;
          font-family: 'Icons';
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          text-align: center;
          speak: none;
          font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          content: '\f058';
          display: block;
          width: 30px;
          height: 20px;
          background-color: #03A9F4;
          color: #ffffff;
          position: absolute;
          right: 0;
          bottom: 0; }

button[name="move"] {
  z-index: 2;
  position: relative;
  bottom: 0px; }
