<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AIRMAM5DBEntities" connectionString="metadata=res://*/DBEntity.AIRMAM5db.csdl|res://*/DBEntity.AIRMAM5db.ssdl|res://*/DBEntity.AIRMAM5db.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.20.142.36\MSSQL2016;Initial Catalog=AIRMAM5;persist security info=True;User ID=AirMAM;Password=ftvP@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- 專案自訂參數 -->
    <add key="SerilogPath" value="D:\AIRMAM5LOG\" />
    <add key="fsLOG_PATH" value="D:\AIRMAM5\LOG\" />
    <add key="fsMEDIA_INFO" value="D:\0selfsys\MediaInfo_769\MediaInfo.exe" />
    <add key="fsTEMP_PATH" value="D:\TEMP\" />
    <add key="fsSQL_CONN" value="Data Source=172.20.142.36\MSSQL2016;Initial Catalog=AIRMAM5;Persist Security Info=True;User ID=AirMAM;Password=ftvP@ssw0rd" />
    <add key="fsMEDIA_V_TO" value="HLK" />
    <add key="fsMEDIA_A_TO" value="HL" />
    <add key="fsMEDIA_P_TO" value="HLT" />
    <add key="fsMEDIA_D_TO" value="H" />
    <add key="fsFILE_ENC_KEY" value="12345678" />
    <add key="fsFILE_ENC_IV" value="87654321" />
    <!--<add key="ShowDebugLog" value="true" />
    <add key="ShowInfoLog" value="true" />-->
    <add key="SignalrHub" value="http://localhost/AIRMAM5/signalr" />
  </appSettings>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576000" executionTimeout="3600" />
  </system.web>
  <system.webServer>
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1048576000" />
      </requestFiltering>
    </security>
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--
  <applicationSettings>
    <AIRMAM5.FileUpload.Properties.Settings>
      <setting name="fsLOG_PATH" serializeAs="String">
        <value>D:\AIRMAM5\LOG\</value>
      </setting>
      <setting name="fsMEDIA_INFO" serializeAs="String">
        <value>D:\0selfsys\MediaInfo_769\MediaInfo.exe</value>
      </setting>
      <setting name="fsTEMP_PATH" serializeAs="String">
        <value>D:\TEMP\</value>
      </setting>
      <setting name="fsSQL_CONN" serializeAs="String">
        <value>Data Source=172.20.142.36\MSSQL2016;Initial Catalog=AIRMAM5;Persist Security Info=True;User ID=AirMAM;Password=ftvP@ssw0rd</value>
      </setting>
      <setting name="fsMEDIA_V_TO" serializeAs="String">
        <value>HLK</value>
      </setting>
      <setting name="fsMEDIA_A_TO" serializeAs="String">
        <value>HL</value>
      </setting>
      <setting name="fsMEDIA_P_TO" serializeAs="String">
        <value>HLT</value>
      </setting>
      <setting name="fsMEDIA_D_TO" serializeAs="String">
        <value>H</value>
      </setting>
      <setting name="fsFILE_ENC_KEY" serializeAs="String">
        <value>12345678</value>
      </setting>
      <setting name="fsFILE_ENC_IV" serializeAs="String">
        <value>87654321</value>
      </setting>
    </AIRMAM5.FileUpload.Properties.Settings>
  </applicationSettings>
  -->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>