<?xml version="1.0" encoding="utf-8"?>

<!-- 如需使用 web.config 轉換的詳細資訊，請前往 https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    在下面的範例中，"SetAttributes" 轉換只會在 "Match" 定位程式找到
    值為 "MyDB" 的屬性 "name" 時，才將 "connectionString" 的值變
    更為使用 "ReleaseSQLServer"。
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  
  <!-- 發佈可用此組態檔 -->
  <connectionStrings>
    <add name="AIRMAM5DBEntities" 
         connectionString="metadata=res://*/DBEntity.AIRMAM5db.csdl|res://*/DBEntity.AIRMAM5db.ssdl|res://*/DBEntity.AIRMAM5db.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.20.142.36\MSSQL2016;Initial Catalog=AIRMAM5;persist security info=True;User ID=AirMAM;Password=ftvP@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  
  <appSettings>
    <add key="SerilogPath" value="D:\WebSite\AIRMAM5\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="fsLOG_PATH" value="D:\WebSite\AIRMAM5\Logs\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="fsTEMP_PATH" value="D:\Temp\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="fsMEDIA_INFO" value="D:\_MAM\MediaInfo_769\MediaInfo.exe" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SignalrHub" value="http://172.20.142.35/AIRMAM5/signalr" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--若有其它參數需依照佈版環境不同,設置不同參數值,請自訂增加-->
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      
      在下面的範例中，"Replace" 轉換將會取代 web.config 檔案
      的整個 <customErrors> 區段。
      請注意，因為在 <system.web> 節點之下 
      只有一個 customErrors 區段，所以不需要使用 "xdt:Locator" 屬性。
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>