div.nopadding {
    padding: 0 !important;
}

div.nopaddingLR {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

div.nopaddingTB {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}