@charset "UTF-8";
/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }

/*--------------
     共用Table  ---- Jamie
---------------*/
/*#Table {
    height: $Width_Height !important;
    display: nth($display,1);
    flex-direction: $flexColumn;
}

#Table > .tabulator-tableHolder {
    height: $Width_Height !important;
    min-height: nth($Width_Height,2) !important;
}

._ShareScroll {
    overflow: $overflow;
    height: $Width_Height;
}*/
body {
  font-family: 'Microsoft JhengHei',"Avenir Next", "Helvetica Neue", Arial,-apple-system, Roboto, sans-serif; }

thead {
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.12)), color-stop(50%, rgba(255, 255, 255, 0.08)), color-stop(50%, rgba(255, 255, 255, 0.05)), to(rgba(255, 255, 255, 0)));
  background-image: none, -webkit-linear-gradient(top, rgba(255, 255, 255, 0.12) 0, rgba(255, 255, 255, 0.08) 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0) 100%);
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.12) 0, rgba(255, 255, 255, 0.08) 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0) 100%);
  /*background-position: 50% 50%;*/
  background-color: #232323; }

table tr:nth-child(even) {
  background: #3a3a3a; }

._Filter {
  border-radius: 0;
  margin: 0;
  padding: 1em 0 0 0; }

._Filter_01 {
  border-radius: 0;
  margin: 0;
  padding: 1em 0; }

._ShareScroll table.ui > thead tr:first-child > th {
  position: sticky !important;
  top: 0;
  z-index: 2; }

/*--------------
     共用_contentBox 燈箱樣式   ---- Jamie
---------------*/
._BigBlock {
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important; }

._contentBox {
  height: 100% !important;
  overflow: auto !important; }

._ArrayFlex {
  display: flex;
  margin: 0em 0em 0.28571429rem 0em;
  color: rgba(255, 255, 255, 0.71);
  align-items: center; }

._ArrayFlex span {
  color: #ff9595;
  margin-left: 5px;
  font-size: .5em; }

/*--------------------
    顯示內容解除Focus   ---- Jamie
---------------------*/
.ui.form[name="Detail"] input:not([type]):focus,
.ui.form[name="Detail"] input[type="date"]:focus,
.ui.form[name="Detail"] input[type="datetime-local"]:focus,
.ui.form[name="Detail"] input[type="email"]:focus,
.ui.form[name="Detail"] input[type="number"]:focus,
.ui.form[name="Detail"] input[type="password"]:focus,
.ui.form[name="Detail"] input[type="search"]:focus,
.ui.form[name="Detail"] input[type="tel"]:focus,
.ui.form[name="Detail"] input[type="time"]:focus,
.ui.form[name="Detail"] input[type="text"]:focus,
.ui.form[name="Detail"] input[type="file"]:focus,
.ui.form[name="Detail"] input[type="url"]:focus {
  border: 1px solid rgba(34, 36, 38, 0.11) !important;
  /*border: 1px solid #c2b701 !important;*/ }

.ui.form[name="Detail"] textarea:focus {
  border: 1px solid rgba(34, 36, 38, 0.11) !important; }

.ui.form[name="Detail"] input:hover, .ui.form[name="Detail"] textarea:hover {
  cursor: context-menu; }

.ui.form[name="Detail"] .field select:disabled {
  background: none;
  color: #fff !important;
  border: none;
  opacity: 1; }

.ui.form[name="Detail"] .field select {
  /* Chrome */
  -webkit-appearance: none;
  /* Firefox */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: ' ';
  /* space */ }

.ui.form > div[name="Detail"] input:not([type]):focus,
.ui.form > div[name="Detail"] input[type="date"]:focus,
.ui.form > div[name="Detail"] input[type="datetime-local"]:focus,
.ui.form > div[name="Detail"] input[type="email"]:focus,
.ui.form > div[name="Detail"] input[type="number"]:focus,
.ui.form > div[name="Detail"] input[type="password"]:focus,
.ui.form > div[name="Detail"] input[type="search"]:focus,
.ui.form > div[name="Detail"] input[type="tel"]:focus,
.ui.form > div[name="Detail"] input[type="time"]:focus,
.ui.form > div[name="Detail"] input[type="text"]:focus,
.ui.form > div[name="Detail"] input[type="file"]:focus,
.ui.form > div[name="Detail"] input[type="url"]:focus {
  border: 1px solid rgba(34, 36, 38, 0.11) !important;
  /*border: 1px solid #c2b701 !important;*/ }

.ui.form > div[name="Detail"] textarea:focus {
  border: 1px solid rgba(34, 36, 38, 0.11) !important; }

.ui.form > div[name="Detail"] input:hover, .ui.form > div[name="Detail"] textarea:hover {
  cursor: context-menu; }

.ui.form > div[name="Detail"] .field select:disabled {
  background: none;
  color: #fff !important;
  border: none;
  opacity: 1; }

.ui.form > div[name="Detail"] .field select {
  /* Chrome */
  -webkit-appearance: none;
  /* Firefox */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: ' ';
  /* space */ }

/*--------------------
   尚無資料 icon   ---- Jamie
---------------------*/
.NoDateImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #424242;
  font-size: 1.2em !important; }

.NoDateImg > i {
  font-size: 5em;
  margin: 0;
  height: .65em; }

/*--------------------
   主題檔案與系統目錄維護樣板  ---- Jamie
---------------------*/
._GridHeight {
  height: 100%; }

._GridFlex {
  height: 100%;
  display: flex !important;
  flex-direction: column; }

._GridCenter {
  height: 100%;
  margin: 0;
  border: 1px dashed #6f6f6f !important;
  background: #333 !important; }

._contentFlex {
  height: 100%;
  flex-direction: column; }

/*.ui.tab.active {
    display: flex !important;
}*/
/*--------------------
  資訊欄位樣板  ---- Jamie
---------------------*/
/*tabulator-table強制顯示*/
.tabulator-table {
  visibility: visible !important; }

/**主管要求卡片間距減少*/
.ui.cards > .card {
  margin-bottom: 0.1em; }

.cards.inverted, .card.inverted {
  border: 0;
  border-radius: 0;
  box-shadow: 0;
  font-size: 0.7rem;
  /*margin:0;*/
  background-color: #2d2d2d; }
  .cards.inverted .extra, .cards.inverted .content, .card.inverted .extra, .card.inverted .content {
    border: 0;
    border-radius: 0; }
    .cards.inverted .extra.extra, .cards.inverted .content.extra, .card.inverted .extra.extra, .card.inverted .content.extra {
      color: #bfb9b9; }
    .cards.inverted .extra .header, .cards.inverted .extra .meta, .cards.inverted .extra .description, .cards.inverted .content .header, .cards.inverted .content .meta, .cards.inverted .content .description, .card.inverted .extra .header, .card.inverted .extra .meta, .card.inverted .extra .description, .card.inverted .content .header, .card.inverted .content .meta, .card.inverted .content .description {
      color: #ffffff; }

.cards.inverted .card.link:hover, .card.inverted.link:hover {
  background-color: #2d2d2d;
  opacity: .8; }

.cards.inverted .card:first-child, .cards.inverted .card:last-child, .card.inverted:first-child, .card.inverted:last-child {
  border: 0;
  border-radius: 0; }

/**slider禁止拖曳區塊*/
/**刻度樣式*/
.ticks {
  display: flex;
  justify-content: space-between;
  padding: 0;
  font-size: 0.5rem;
  height: 5px;
  pointer-events: none; }
  .ticks.ticks--bg {
    background: #555;
    z-index: 0;
    position: relative;
    height: 20px; }
  .ticks:not(.ticks--bg) {
    height: 20px;
    position: relative;
    top: -20px; }
  .ticks .tick {
    position: absolute;
    top: 0;
    display: inline-block;
    content: '';
    height: 100%;
    width: 1px;
    background: #03A9F4;
    color: #1B1C1D !important; }
    .ticks .tick:nth-of-type(1) {
      left: 0; }
    .ticks .tick:nth-of-type(2) {
      right: 0; }
    .ticks .tick:before {
      display: block;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 5px 8.7px 5px;
      border-color: transparent transparent #03A9F4 transparent;
      position: relative;
      top: 100%;
      left: 0;
      right: 0;
      transform: translate(-50%, -50%);
      box-sizing: border-box; }
    .ticks .tick:after {
      display: block;
      content: attr(data-time);
      width: 30px;
      background: #888;
      position: absolute;
      left: -31.5px;
      top: -20px;
      width: auto;
      background: #03A9F4;
      color: #ffffff !important; }
  .ticks.slash {
    /**斜線背景*/
    /*background: $red;*/
    height: 10px;
    top: -10px; }

.range-slider {
  width: 100%;
  height: 20px;
  /*.playerwindow {
        position: absolute;
        top: -70px;
        left: 0;
        background-color: #222;
        width: 90px;
        height: 55px;
        z-index: 999;
        max-width: 300px;
        padding: 5px;
        background-color: rgba(28,28,28,0.9);
        border-radius: 2px;
        visibility: hidden;
        overflow: hidden;

        canvas {
            width: 80px;
            height: 45px;
            margin: auto;
        }
    }*/ }
  .range-slider--volumn {
    height: 100%;
    float: left;
    width: auto; }
  .range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (43px));
    height: 5px;
    border-radius: 5px;
    background: #0288D1;
    outline: none;
    padding: 0;
    margin: 0;
    /*影片拖曳bar*/
    /*聲音拖曳bar*/
    /**手柄樣式*/ }
    .range-slider__range[name="range"] {
      width: 100%;
      /*影片左側禁止拖曳區塊,width會由js控制*/
      /*影片右側禁止拖曳區塊,width會由js控制*/ }
      .range-slider__range[name="range"]:before {
        display: inline-block;
        content: '';
        width: 0;
        height: 5px;
        position: relative;
        top: -8px;
        background: #bdbdbd;
        left: 0; }
      .range-slider__range[name="range"]:after {
        display: inline-block;
        content: '';
        width: 0;
        height: 5px;
        position: relative;
        top: -8px;
        background: #bdbdbd;
        right: 0; }
    .range-slider__range[name="volumnrange"] {
      max-width: 100px; }
    .range-slider__range::-webkit-slider-thumb {
      appearance: none;
      width: 0px;
      height: 0px;
      border: 0;
      border-radius: 50%;
      background: #03A9F4;
      cursor: pointer;
      transition: background .15s ease-in-out;
      z-index: 2;
      -webkit-appearance: none; }
      .range-slider__range::-webkit-slider-thumb:hover {
        width: 10px;
        height: 10px;
        background: #03A9F4;
        box-shadow: 0 0 0 3px #2196F3, 0 0 0 6px rgba(255, 255, 255, 0.6); }
    .range-slider__range::-moz-range-thumb {
      appearance: none;
      width: 0px;
      height: 0px;
      border: 0;
      border-radius: 50%;
      background: #03A9F4;
      cursor: pointer;
      transition: background .15s ease-in-out;
      z-index: 2;
      -moz-appearance: none; }
      .range-slider__range::-moz-range-thumb:hover {
        width: 10px;
        height: 10px;
        background: #03A9F4;
        box-shadow: 0 0 0 3px #2196F3, 0 0 0 6px rgba(255, 255, 255, 0.6); }
    .range-slider__range::-ms-thumb {
      appearance: none;
      width: 0px;
      height: 0px;
      border: 0;
      border-radius: 50%;
      background: #03A9F4;
      cursor: pointer;
      transition: background .15s ease-in-out;
      z-index: 2;
      -ms-progress-appearance: bar; }
      .range-slider__range::-ms-thumb:hover {
        width: 10px;
        height: 10px;
        background: #03A9F4;
        box-shadow: 0 0 0 3px #2196F3, 0 0 0 6px rgba(255, 255, 255, 0.6); }
    .range-slider__range:active::-webkit-slider-thumb {
      width: 10px;
      height: 10px;
      background: #03A9F4; }
    .range-slider__range:active::-moz-range-thumb {
      width: 10px;
      height: 10px;
      background: #03A9F4; }
    .range-slider__range:active::-ms-thumb {
      width: 10px;
      height: 10px;
      background: #03A9F4; }
    .range-slider__range:focus::-webkit-slider-thumb {
      box-shadow: 0 0 0 3px #2196F3, 0 0 0 6px rgba(255, 255, 255, 0.6); }
    .range-slider__range:focus::-moz-range-thumb {
      box-shadow: 0 0 0 3px #2196F3, 0 0 0 6px rgba(255, 255, 255, 0.6); }
    .range-slider__range:focus .range-slider__range:focus::-ms-thumb {
      box-shadow: 0 0 0 3px #2196F3, 0 0 0 6px rgba(255, 255, 255, 0.6); }
  .range-slider__value {
    display: inline-block;
    position: relative;
    width: 30px;
    color: #ffffff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #03A9F4;
    padding: 5px 3px;
    margin-left: 8px;
    font-size: 12px; }

::-moz-range-track {
  background: #0288D1;
  border: 0; }

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0; }

div[name="preview"] {
  width: 100%;
  background-color: #1B1C1D;
  padding: 0 !important;
  /*.ui.segment {
        padding: 0 !important;
    }*/
  /*& > div, & > video {
        z-index: inherit;
    }*/
  /*.ui.grid {
        position: absolute;
        bottom: 0;
        width: 100%;
    }*/
  /*全螢幕時videoMenu位置調整*/ }
  div[name="preview"] .cusgrid {
    height: 100%;
    width: 100%;
    background: #1B1C1D; }
  div[name="preview"] .cusrow {
    display: block;
    width: 100%;
    height: 50%;
    background: #1B1C1D; }
    div[name="preview"] .cusrow .cuscolumn {
      display: inline-block;
      float: left;
      height: 100%; }
      div[name="preview"] .cusrow .cuscolumn button {
        background: #1B1C1D; }
    div[name="preview"] .cusrow:nth-of-type(1) .cuscolumn span, div[name="preview"] .cusrow:nth-of-type(1) .cuscolumn div {
      margin: auto;
      color: #ffffff; }
    div[name="preview"] .cusrow:nth-of-type(1) .cuscolumn:nth-of-type(1), div[name="preview"] .cusrow:nth-of-type(1) .cuscolumn:nth-of-type(3) {
      width: 20%;
      text-align: center; }
    div[name="preview"] .cusrow:nth-of-type(1) .cuscolumn:nth-of-type(2) {
      width: 60%; }
    div[name="preview"] .cusrow:nth-of-type(2) .cuscolumn {
      width: calc(100% / 3); }
      div[name="preview"] .cusrow:nth-of-type(2) .cuscolumn span, div[name="preview"] .cusrow:nth-of-type(2) .cuscolumn div {
        margin: auto; }
      div[name="preview"] .cusrow:nth-of-type(2) .cuscolumn:nth-of-type(1) > button {
        float: right; }
      div[name="preview"] .cusrow:nth-of-type(2) .cuscolumn:nth-of-type(3) > button {
        float: left; }
  div[name="preview"] div[name="audio"] .cusrow:nth-of-type(2) .cuscolumn {
    width: calc(100% / 2); }
  div[name="preview"] .ui.embed {
    background-color: #000;
    height: 270px;
    padding: 0 !important; }
  div[name="preview"] video {
    object-fit: fill; }
  div[name="preview"] video, div[name="preview"] audio {
    height: 100% !important;
    width: auto !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    /*width: 100% !important;
        height: auto;*/ }
  div[name="preview"] .ui.image {
    height: 100% !important;
    width: auto !important;
    margin: auto; }
  div[name="preview"] img {
    max-height: 270px; }
  div[name="preview"] #videoMenu {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1b1c1d;
    /*height: 60px;*/
    /*音量*/ }
    div[name="preview"] #videoMenu .row {
      padding-top: 0 !important;
      padding-bottom: 0 !important; }
    div[name="preview"] #videoMenu .column.row.left.aligned {
      padding-left: 0;
      padding-right: 0;
      transition: width 0.5s; }
      div[name="preview"] #videoMenu .column.row.left.aligned:hover {
        width: 100px; }
  div[name="preview"] #fullScreenContainer:fullscreen {
    width: 100%;
    height: 100%; }
    div[name="preview"] #fullScreenContainer:fullscreen video {
      width: 100%;
      height: 100%; }
    div[name="preview"] #fullScreenContainer:fullscreen .ui.embed {
      width: 100%;
      height: 100%; }
    div[name="preview"] #fullScreenContainer:fullscreen #videoMenu {
      position: relative;
      top: -60px;
      left: 0;
      opacity: 0;
      background: #1b1c1d;
      min-height: 60px;
      padding-top: 5px; }
      div[name="preview"] #fullScreenContainer:fullscreen #videoMenu:hover {
        opacity: .8; }
  div[name="preview"] #fullScreenContainer:-moz-full-screen {
    width: 100%;
    height: 100%; }
    div[name="preview"] #fullScreenContainer:-moz-full-screen video {
      width: 100%;
      height: 100%; }
    div[name="preview"] #fullScreenContainer:-moz-full-screen .ui.embed {
      width: 100%;
      height: 100%; }
    div[name="preview"] #fullScreenContainer:-moz-full-screen #videoMenu {
      position: relative;
      top: -60px;
      left: 0;
      opacity: 0;
      background: #1b1c1d;
      min-height: 60px;
      padding-top: 5px; }
      div[name="preview"] #fullScreenContainer:-moz-full-screen #videoMenu:hover {
        opacity: .8; }
  div[name="preview"] #fullScreenContainer:-webkit-full-screen {
    width: 100%;
    height: 100%; }
    div[name="preview"] #fullScreenContainer:-webkit-full-screen video {
      width: 100%;
      height: 100%; }
    div[name="preview"] #fullScreenContainer:-webkit-full-screen .ui.embed {
      width: 100%;
      height: 100%; }
    div[name="preview"] #fullScreenContainer:-webkit-full-screen #videoMenu {
      position: relative;
      top: -60px;
      left: 0;
      opacity: 0;
      background: #1b1c1d;
      min-height: 60px;
      padding-top: 5px; }
      div[name="preview"] #fullScreenContainer:-webkit-full-screen #videoMenu:hover {
        opacity: .8; }
  div[name="preview"] #fullScreenContainer:-ms-fullscreen {
    width: 100%;
    height: 100%; }
    div[name="preview"] #fullScreenContainer:-ms-fullscreen video {
      width: 100%;
      height: 100%; }
    div[name="preview"] #fullScreenContainer:-ms-fullscreen .ui.embed {
      width: 100%;
      height: 100%; }
    div[name="preview"] #fullScreenContainer:-ms-fullscreen #videoMenu {
      position: relative;
      top: -60px;
      left: 0;
      opacity: 0;
      background: #1b1c1d;
      min-height: 60px;
      padding-top: 5px; }
      div[name="preview"] #fullScreenContainer:-ms-fullscreen #videoMenu:hover {
        opacity: .8; }

/*@import "../Subject/_WavesurferPlayer.scss";*/
/*button樣版*/
/*******************************
           拖拉視窗
*******************************/
#left-component {
  width: 70em;
  overflow: hidden;
  min-width: 600px;
  padding-right: 22px;
  /*22px是divider的寬度*/ }

#divider {
  left: 70em;
  padding: 0 6px; }

#divider > .split-pane-divider-inner {
  position: relative;
  left: -26px; }
  #divider > .split-pane-divider-inner:hover {
    border-left: 1px dashed #888; }

#divider > .split-pane-divider-inner:before {
  content: "|||";
  color: #545454;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  text-align: center; }

#right-component {
  left: 70em;
  /*margin-left: 23px;*/
  min-width: 35em;
  overflow: -moz-hidden-unscrollable;
  -ms-overflow-style: none;
  /*min-width:35vw;*/ }
  #right-component::-webkit-scrollbar {
    display: none; }

#horizontal-divider {
  bottom: 20em;
  height: 5px; }

#top-component2 {
  /*margin-bottom: 1.3em;*/
  text-align: center;
  min-width: 480px;
  background: #222; }

#horizontal-divider2 {
  bottom: 40%; }

#horizontal-divider2 > .split-pane-divider-inner {
  position: relative;
  top: 0; }

#horizontal-divider2 > .split-pane-divider-inner:before {
  content: "|||";
  color: #545454;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 6px;
  right: 0;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  width: 10px; }

#bottom-component2 {
  width: 100%;
  height: calc(100% - 40%);
  overflow: hidden;
  /*position: absolute;
    top: $minBottomHeight;*/ }

/*******************************
       左側選項內容
*******************************/
._SearchStyleGrid_left {
  height: 100%;
  display: flex;
  flex-direction: column; }
  ._SearchStyleGrid_left ._row_scroll {
    height: 100%;
    /*overflow: auto;*/ }

._SearchStyleLinchpin {
  color: rgba(255, 255, 255, 0.78);
  padding: 5px 0 0 8px; }
  ._SearchStyleLinchpin button {
    background: none !important;
    color: rgba(255, 255, 255, 0.78) !important;
    border: 1px solid rgba(255, 255, 255, 0.73) !important;
    padding: 4px 7px !important; }
    ._SearchStyleLinchpin button:hover {
      border: 1px solid #c2b701 !important;
      color: #c2b701 !important; }

._SearchStyleTabs {
  margin: 0 !important; }
  ._SearchStyleTabs a {
    letter-spacing: 1px; }

.ui.secondary.pointing.menu .item {
  color: rgba(255, 255, 255, 0.9); }

#Table {
  padding-bottom: 60px; }

div[name="list"] {
  width: 100%; }
  div[name="list"] .tabulator-tableHolder {
    height: inherit;
    overflow: auto;
    padding-bottom: 1em; }
  div[name="list"] .tabulator-table {
    width: 100%;
    display: inline !important; }
  div[name="list"] .x-license-group {
    display: flex;
    position: relative;
    top: -10px;
    justify-content: end;
    color: #b7b7b7; }
    div[name="list"] .x-license-group span {
      color: #ffff00;
      border: 0.5px solid #ffff00;
      padding: 0 10px; }
  div[name="list"] .tabulator-placeholder {
    width: 100% !important; }
  div[name="list"] .tabulator-row.ui.items {
    cursor: context-menu;
    padding: 0;
    margin: 0 !important;
    white-space: normal;
    word-break: break-word; }
    div[name="list"] .tabulator-row.ui.items.tabulator-row-even {
      background: #2d2d2d; }
    div[name="list"] .tabulator-row.ui.items.tabulator-row-odd {
      background: #333; }
    div[name="list"] .tabulator-row.ui.items:hover, div[name="list"] .tabulator-row.ui.items.cusactive, div[name="list"] .tabulator-row.ui.items.tabulator-selected {
      border: 1px solid yellow;
      background: #222 !important; }
    div[name="list"] .tabulator-row.ui.items .tabulator-cell {
      height: auto !important;
      white-space: normal;
      overflow: unset; }
    div[name="list"] .tabulator-row.ui.items .item {
      padding: 0.05em 0.3em !important;
      color: rgba(255, 255, 255, 0.74); }
      div[name="list"] .tabulator-row.ui.items .item:first-child, div[name="list"] .tabulator-row.ui.items .item:last-child {
        border: 1px solid rgba(255, 255, 0, 0); }
      div[name="list"] .tabulator-row.ui.items .item button[name="addMateria"] {
        margin-left: auto;
        background-color: #1b1b1b;
        color: #cacaca;
        border: 1px solid #cacaca;
        background: none;
        white-space: nowrap; }
        div[name="list"] .tabulator-row.ui.items .item button[name="addMateria"].red {
          background-color: #DB2828;
          color: #ffffff; }
        div[name="list"] .tabulator-row.ui.items .item button[name="addMateria"]:hover {
          color: #ffd800;
          border: 1px solid #ffd800; }
        div[name="list"] .tabulator-row.ui.items .item button[name="addMateria"] .x-tooltip {
          background: #af4907;
          color: #ffffff;
          position: relative;
          transform: translate(-120%, -30%);
          word-break: keep-all;
          position: absolute;
          padding: 10px;
          border-radius: 5px;
          font-size: 1em;
          line-height: 1.3;
          height: 50px;
          display: none;
          align-items: center; }
          div[name="list"] .tabulator-row.ui.items .item button[name="addMateria"] .x-tooltip::after {
            content: '';
            display: flex;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 12.5px 0 12.5px 21.7px;
            border-color: transparent transparent transparent #af4907;
            position: relative;
            right: 0;
            transform: translateX(100%);
            top: 0; }
        div[name="list"] .tabulator-row.ui.items .item button[name="addMateria"]:hover .x-tooltip {
          display: flex; }
      div[name="list"] .tabulator-row.ui.items .item .header {
        color: rgba(255, 255, 255, 0.74); }
      div[name="list"] .tabulator-row.ui.items .item div[name="fileStatus"] {
        background-color: transparent; }
        div[name="list"] .tabulator-row.ui.items .item div[name="fileStatus"] span.red {
          color: #db2828; }
        div[name="list"] .tabulator-row.ui.items .item div[name="fileStatus"] span.orange {
          color: #f2711c; }
        div[name="list"] .tabulator-row.ui.items .item div[name="fileStatus"] span.yellow {
          color: #fbbd08; }
        div[name="list"] .tabulator-row.ui.items .item div[name="fileStatus"] span.olive {
          color: #b5cc18; }
        div[name="list"] .tabulator-row.ui.items .item div[name="fileStatus"] span.green {
          color: #21ba45; }
        div[name="list"] .tabulator-row.ui.items .item div[name="fileStatus"] span.teal {
          color: #03A9F4; }
        div[name="list"] .tabulator-row.ui.items .item div[name="fileStatus"] span.blue {
          color: #2185d0; }
        div[name="list"] .tabulator-row.ui.items .item div[name="fileStatus"] span.violet {
          color: #6435c9; }
        div[name="list"] .tabulator-row.ui.items .item div[name="fileStatus"] span.purple {
          color: #a333c8; }
        div[name="list"] .tabulator-row.ui.items .item div[name="fileStatus"] span.pink {
          color: #e03997; }
        div[name="list"] .tabulator-row.ui.items .item div[name="fileStatus"] span.brown {
          color: #a5673f; }
        div[name="list"] .tabulator-row.ui.items .item div[name="fileStatus"] span.grey {
          color: #767676; }
        div[name="list"] .tabulator-row.ui.items .item div[name="fileStatus"] span.black {
          color: #1b1c1d; }
      div[name="list"] .tabulator-row.ui.items .item ._styleImg {
        position: relative;
        height: 90px;
        width: auto;
        min-width: 140px; }
        div[name="list"] .tabulator-row.ui.items .item ._styleImg img {
          height: 100%;
          width: auto;
          margin: auto;
          /*width: 100% !important;*/ }
      div[name="list"] .tabulator-row.ui.items .item .image {
        display: flex;
        align-items: end;
        padding: 6px 7px 0 7px;
        max-width: 150px;
        min-width: 150px; }
      div[name="list"] .tabulator-row.ui.items .item .content {
        padding: 8px 0;
        min-height: 103px; }
        div[name="list"] .tabulator-row.ui.items .item .content .header {
          color: rgba(255, 255, 255, 0.74) !important; }
        div[name="list"] .tabulator-row.ui.items .item .content .meta, div[name="list"] .tabulator-row.ui.items .item .content .description {
          line-height: 1.3;
          color: rgba(255, 255, 255, 0.74); }
        div[name="list"] .tabulator-row.ui.items .item .content .extra {
          margin: 0; }
        div[name="list"] .tabulator-row.ui.items .item .content ._time {
          display: flex;
          align-items: center;
          color: rgba(255, 255, 255, 0.51);
          font-size: .9em;
          /*button {
                        margin-left: auto;
                        @include button-style;
                    }*/ }
        div[name="list"] .tabulator-row.ui.items .item .content span.keypoint {
          color: #ffd800; }
      div[name="list"] .tabulator-row.ui.items .item .x-license-label {
        color: #bdbd26; }
      div[name="list"] .tabulator-row.ui.items .item .x-hashtag {
        margin: 1px; }
  div[name="list"] .tabulator-footer {
    position: fixed;
    bottom: 0;
    width: inherit;
    background: #333333;
    display: flex;
    flex-direction: row-reverse; }

div[name="filter"] {
  font-size: 0.8em !important;
  font-weight: normal !important;
  color: #aaa !important;
  margin: 0 !important;
  padding: 5px !important;
  height: 40px !important;
  display: flex !important; }
  div[name="filter"] .input {
    height: 100%; }

/*******************************
       右側選項內容
*******************************/
._SearchStyleGrid_right ._right_button {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1% 0 0 0; }
  ._SearchStyleGrid_right ._right_button ._SearchStyleContent {
    height: 100%;
    overflow: auto;
    /*.tab >.ui.basic.segment{
            padding:2px;
        }*/
    /*----基本資料修改完成後---*/ }
    ._SearchStyleGrid_right ._right_button ._SearchStyleContent .ui.form .field .ui.input > span {
      width: 100%;
      display: flex;
      align-items: center;
      background: #434343;
      line-height: initial;
      padding-left: 1rem;
      color: #fff;
      word-break: break-all; }
    ._SearchStyleGrid_right ._right_button ._SearchStyleContent ._styleMarginZero {
      margin: 0 0 .2em !important; }
      ._SearchStyleGrid_right ._right_button ._SearchStyleContent ._styleMarginZero .input label {
        text-align: center; }

._RightTop {
  height: 100%; }
  ._RightTop img {
    height: 100%;
    /*margin: auto;
        height: 100%;
        width: 100%;*/ }

._SearchStyleButton {
  /*background: #525252;*/
  box-shadow: 0 2px 4px 1px #151515;
  transition: all .3s;
  cursor: pointer;
  text-align: center;
  border-radius: 100%;
  position: fixed;
  right: 13px;
  bottom: 8px;
  z-index: 3;
  padding: 1.1em;
  color: #fff;
  z-index: 9999999; }
  ._SearchStyleButton:hover {
    box-shadow: 0 9px 9px 0px #151515;
    transform: translate(0, -4px); }
  ._SearchStyleButton:active {
    box-shadow: 0 0 0px -2px #151515;
    transform: translate(0, 4px);
    transition: all .1s; }

.ui.form .field .ui.input > input {
  width: 100%;
  flex: 1; }

.ui.attached.tabular.menu {
  overflow: auto; }

.ui.form input[type="text"] {
  border-radius: 0 !important; }

/*******************************
   右側選項內容 --- 關鍵影格card
*******************************/
._SearchStyleContent .ui.cards {
  position: relative;
  top: 1em; }
  ._SearchStyleContent .ui.cards .card {
    margin-top: 0.3em;
    margin-bottom: 0.3em; }

._SearchStyleContent .card {
  background: #222 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border: 1px solid #c2b701; }
  ._SearchStyleContent .card:hover {
    border: 3px solid #ffd800 !important; }
  ._SearchStyleContent .card .content > .description {
    color: #fff !important;
    word-break: break-all; }

/*******************************
   右側選項內容 --- 段落描述
*******************************/
._StyleDescription {
  text-align: left;
  margin: .5em 0;
  width: 100%;
  color: #fff; }

._StyleDescription span:first-child {
  background: #222; }

._StyleDescription span:last-child {
  background: #636363; }

._StyleDescription span {
  padding: .8em;
  margin: 0;
  display: block; }

._Custom {
  margin: .5em 0 0 0 !important;
  display: inline-flex; }
  ._Custom ._filter {
    border-radius: 100px;
    background: #151515;
    margin: 0 0.5em; }

/*._styleImg {
            position: relative;
        }*/
._timeLong {
  position: absolute;
  right: .4em;
  bottom: .4em;
  font-size: .6em;
  color: rgba(255, 255, 255, 0.68);
  background: rgba(0, 0, 0, 0.34);
  padding: .1em .5em;
  border-radius: 100px; }

._contentDoc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  line-height: 1.3; }

._time ._status {
  background: #018e87;
  margin-left: 1em;
  color: #ececec;
  padding: 0 .5em;
  border-radius: 3px;
  font-size: .7em;
  /*&.error {
            background:$red !important;
        }
        &.hidden{
            display:none;
        }
        &.red{
            background:$red;
        }
        &.teal{
            background:$teal;
        }
        &.purple{
            background:$purple;
        }*/ }

.ui.bottom.attached.inverted.tab {
  height: 100%; }

#EditMediaModal .field label {
  float: left;
  margin-left: 5px; }

#EditMediaModal .field .checkbox.disabled {
  visibility: hidden; }

#EditMediaModal .field .checkbox:after {
  display: none; }

/**調整preview*/
div[name="preview"] .cusrow {
  height: auto; }

div[name="preview"] #videoMenu {
  position: relative;
  min-height: 60px; }

/*關鍵影格檢視詳細按鈕*/
button[name="cardInfo"] {
  position: fixed;
  right: 1em;
  bottom: 15em;
  z-index: 99; }

button.x-imgslider-btn {
  position: absolute;
  top: 0em;
  z-index: 99;
  bottom: 0;
  height: 330px;
  background: transparent;
  color: #fff; }
  button.x-imgslider-btn[name="preImg"] {
    left: 0; }
  button.x-imgslider-btn[name="nextImg"] {
    right: -3px; }

/**圖片燈箱*/
img[name="lightbox"] {
  cursor: zoom-in; }

.x-lightbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999; }
  .x-lightbox img {
    height: 90%;
    width: auto;
    margin: auto;
    display: inline-block;
    left: 0;
    right: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    cursor: zoom-out; }

/**匯出樣板的下拉選單*/
.menu[name='templeteMenu'] .dropdown.item .menu {
  background: #333 !important;
  color: #ffffff !important; }

/**調光器寬度*/
.ui.dimmer {
  width: inherit; }

@media screen and (min-height: 700px) and (max-height: 850px) {
  #bottom-component2 {
    height: calc(100% -40%) !important; } }

@media screen and (min-height: 550px) and (max-height: 700px) {
  #bottom-component2 {
    height: calc(100% -40%- 20%) !important; } }

@media screen and (max-height: 550px) {
  #bottom-component2 {
    height: calc(100% -40% - 30%) !important; } }
