@model AIRMAM5.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "忘記密碼";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

<div class="inputs">
    <div class="field center">
        <p>輸入您的電子郵件。</p>
    </div>
    <div class="field">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email,new { @autocomplete = "off", @autofocus = "autofocus" })
    </div>
    <div class="field">
        <div class="buttons">
            <button type="button" class="btn" onclick="history.back();">返回</button>
            <button type="submit" class="btn">送出</button>
        </div>
    </div>
    <div class="field">
        <span class="right">@Html.ValidationMessageFor(m => m.Email, "", new { @class = "valid" })</span>
    </div>

</div>

}


