@{
    //ViewBag.Title = "ResetPasswordInvalid";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<hgroup class="title" style="text-align:center;">
    <h2 style="color:navajowhite;">重設密碼失敗，因為令牌已失效 </h2>
</hgroup>
<div class="field">
    <p class="right">
        @Html.ActionLink("這裡回到首頁", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn" })
    </p>
</div>
