
<form class="ui inverted form" role="form" id="SearchForm">
    <div class="three fields">
        <div class="three wide field">
            <label>代碼編號</label>
            <input id="codeID" type="text" />
        </div>
        <div class="three wide field">
            <label>代碼名稱</label>
            <input id="codename" type="text" />
        </div>
        <div class="ten wide field">
            <label style="visibility:hidden;">查詢</label>
            <button type="submit" class="ui yellow button">查詢</button>
            <button type="reset" class="ui button">清空</button>
            <button type="button" name="create" class="ui _darkGrey button"><i class="plus icon"></i> 新增自訂代碼 </button>
        </div>
    </div>
</form>
