@charset "UTF-8";
.cards.inverted, .card.inverted {
  border: 0;
  border-radius: 0;
  box-shadow: 0;
  font-size: 0.7rem;
  /*margin:0;*/
  background-color: #2d2d2d; }
  .cards.inverted .extra, .cards.inverted .content, .card.inverted .extra, .card.inverted .content {
    border: 0;
    border-radius: 0; }
    .cards.inverted .extra.extra, .cards.inverted .content.extra, .card.inverted .extra.extra, .card.inverted .content.extra {
      color: #bfb9b9; }
    .cards.inverted .extra .header, .cards.inverted .extra .meta, .cards.inverted .extra .description, .cards.inverted .content .header, .cards.inverted .content .meta, .cards.inverted .content .description, .card.inverted .extra .header, .card.inverted .extra .meta, .card.inverted .extra .description, .card.inverted .content .header, .card.inverted .content .meta, .card.inverted .content .description {
      color: #ffffff; }

.cards.inverted .card.link:hover, .card.inverted.link:hover {
  background-color: #2d2d2d;
  opacity: .8; }

.cards.inverted .card:first-child, .cards.inverted .card:last-child, .card.inverted:first-child, .card.inverted:last-child {
  border: 0;
  border-radius: 0; }

/*樹狀容器*/
.treeContainer {
  height: 90%;
  overflow: auto;
  /*Loading中顯示*/ }
  .treeContainer.x-dir-height {
    height: calc(100% - 90px); }
  .treeContainer .treeBg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(51, 51, 51, 0.2), rgba(51, 51, 51, 0.3), rgba(51, 51, 51, 0.2)), url(../../../Images/dirTree.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: .15;
    z-index: 1; }

/**樹狀重新整理按鈕*/
#ReloadTreeBtn {
  padding: 0 8px;
  font-size: 0.8em;
  border: .5px solid #ccc;
  box-shadow: inset 0px 0px 2px #fff !important;
  z-index: 2; }

/**搜尋目錄節點input*/
input[name="SearchNode"] {
  line-height: 30px !important;
  /*min-width: 100%;*/ }

.x-treeinput {
  padding-bottom: 10px; }

/**結構調整*/
.grid.x-main-grid {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden; }
  .grid.x-main-grid .column {
    height: 100%; }

@media screen and (max-width: 760px) {
  .grid.x-main-grid {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto; }
    .grid.x-main-grid .column {
      height: 100%; } }

/*button樣版*/
/**主題列樣式*/
ul.x-subjectItems {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: auto;
  display: inline-block;
  width: 100%; }
  ul.x-subjectItems li.x-subjectItem {
    background: #424242;
    margin: 5px;
    display: inline-block;
    border: 0.5px solid #666; }
    ul.x-subjectItems li.x-subjectItem:hover {
      background: #666;
      color: #fff; }
    ul.x-subjectItems li.x-subjectItem a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 16px;
      text-decoration: none; }

.x-column {
  width: 50%;
  float: left;
  height: 100%; }
  .x-column.left {
    position: absolute;
    left: 0; }
  .x-column.right {
    position: absolute;
    right: 0; }

/**關閉列表Header顏色*/
.tabulator-header {
  background-image: none !important;
  background: none !important;
  background-color: none !important; }
  .tabulator-header .tabulator-col {
    background-image: none !important;
    background: none !important;
    background-color: none !important; }

.tabulator-frozen .tabulator-col-content {
  background: #3e3e3e; }

#Table .tabulator-table {
  width: 100%; }

#Table .x-license-label {
  color: #cec34f; }

#Table .tabulator-placeholder {
  width: 100% !important; }

#Table .tabulator-row.ui.items {
  cursor: context-menu;
  padding: 0;
  margin: 0 !important;
  white-space: normal;
  word-break: break-word; }
  #Table .tabulator-row.ui.items.tabulator-row-even {
    background: #2d2d2d; }
  #Table .tabulator-row.ui.items.tabulator-row-odd {
    background: #333; }
  #Table .tabulator-row.ui.items:hover, #Table .tabulator-row.ui.items.cusactive, #Table .tabulator-row.ui.items.tabulator-selected {
    border: 1px solid yellow;
    background: #222 !important; }
  #Table .tabulator-row.ui.items .item {
    padding: 1em !important;
    color: rgba(255, 255, 255, 0.74); }
    #Table .tabulator-row.ui.items .item:first-child, #Table .tabulator-row.ui.items .item:last-child {
      padding-top: 1em !important;
      padding-bottom: 1em !important;
      border: 1px solid rgba(255, 255, 0, 0); }
    #Table .tabulator-row.ui.items .item .header {
      color: rgba(255, 255, 255, 0.74); }
    #Table .tabulator-row.ui.items .item ._styleImg {
      position: relative;
      height: 90px;
      width: auto;
      min-width: 140px; }
      #Table .tabulator-row.ui.items .item ._styleImg img {
        height: 100%;
        width: auto;
        margin: auto; }
    #Table .tabulator-row.ui.items .item .image {
      display: flex;
      align-items: end;
      padding: 6px 7px 0 7px;
      max-width: 150px;
      min-width: 150px; }
    #Table .tabulator-row.ui.items .item .content {
      padding: 8px 0;
      min-height: 103px; }
      #Table .tabulator-row.ui.items .item .content .header {
        color: rgba(255, 255, 255, 0.74) !important; }
      #Table .tabulator-row.ui.items .item .content .meta, #Table .tabulator-row.ui.items .item .content .description {
        line-height: 1.3;
        color: rgba(255, 255, 255, 0.74);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
    #Table .tabulator-row.ui.items .item .extra {
      margin: 0; }

#TargetTable .tabulator-group-level-1 {
  background: #444; }
  #TargetTable .tabulator-group-level-1 .tabulator-group-toggle {
    display: none; }
  #TargetTable .tabulator-group-level-1 .x-license-group {
    color: #b7b7b7;
    display: inline; }
    #TargetTable .tabulator-group-level-1 .x-license-group span {
      color: #ffff00;
      border: 0.5px solid #ffff00;
      padding: 0 10px; }

/**檔案 清單圖片列表*/
.x-image.ui.tiny.image {
  height: 100%;
  width: auto;
  vertical-align: middle;
  margin: auto; }

/* 標題列位置調整*/
.group-header {
  position: relative;
  top: -15px;
  left: 20px; }
