<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="fsENC_KEY" value="7F3DD6981A72707B12A8C0CC80A3C96B75B9057AD55F1AE1"/>
    <add key="fsFILE_ENC_KEY" value="12345678" />
    <add key="fsFILE_ENC_IV" value="87654321" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
