@model AIRMAM5.DBEntity.Models.Shared.WorkStatusDateSerarchModel
@{ }

@*@using (Html.BeginForm("Search", "L_Upload", FormMethod.Post, new { role = "form", @class = "ui inverted form", @id = "SearchL_UploadForm" }))
    {*@
<form class="ui inverted form" role="form" id="SearchForm">
    <div class="four fields">
        <div class="three wide required field">
            @Html.LabelFor(model => model.WorkStatus)
            @Html.DropDownListFor(model => model.WorkStatus, new SelectList(Model.WorkStatusList, "Value", "Text"), new { @class = "ui search selection dropdown", @id = "WorkStatus" })
        </div>
        <div class="three wide ui calendar required field">
            @*@Html.LabelFor(model => model.BeginDate)*@
            <label>轉檔建立日期(起)</label>
            @Html.TextBoxFor(model => model.BeginDate, new { type = "text", placeholder = "轉檔建立日期(起)", @id = "sdate" })
        </div>
        <div class="three wide ui calendar required field">
            @*@Html.LabelFor(model => model.EndDate)*@
            <label>轉檔建立日期(迄)</label>
            @Html.TextBoxFor(model => model.EndDate, new { type = "text", placeholder = "轉檔建立日期(迄)", @id = "edate" })
        </div>
        <div class="seven wide field">
            <label style="visibility:hidden;">查詢</label>
            <button type="submit" class="ui yellow button">查詢</button>
            <button type="button" name="reset" class="ui button">清空</button>
            <button type="button" class="ui _darkGrey button" id="ReconvertBtn"><i class="sync icon"></i> 重轉</button>
        </div>
    </div>
</form>
@*}*@
